.menu {
    color: rgb(232, 232, 232);
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    font-family: "Rubik Mono One", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
    max-width: 100vw;
  
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .menu > * {
    transition-duration: 0.2s;
    margin: 10px 10px;
    font-size: calc(min(20px, 4vw));
  }
  
  .menu > *:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: white;
  }
  
  /* Mobile View */
  @media (max-width: 800px) {
    .menu {
      flex-direction: row; /* Ensure they stay in a row */
      flex-wrap: wrap; /* Allow wrapping if needed */
    }
  
    .menu > * {
      font-size: calc(min(15px, 4vw)); /* Reduce the font size */
      margin: 5px 5px; /* Adjust margin if needed */
    }
  }
  