
.team-map {
    background-color: #000000;
    width: 69%;
    height: auto;
    border: 1px solid #a08989;
    border-radius: 10px;
}

.team-country {
    fill: #a08989;
    transition-duration: 0.2s;
}

.team-country:hover {
    fill: #c9c9c9;
    transform: scale(1.002);
}

.team-country-inactive {
    fill: #262626;
}