

.scroll-down {
    display: block;
    transform: rotate(-20deg);
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    color: white;
    width: 100px;

    font-family: "Lacquer", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    border-radius: 3px;
    margin-top: 40px;
    margin-left: 20px;

    background-color: black;
    z-index: 3;
    position: absolute;
}

.hang-line1 {
    width: 2px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: -50px;
    left: 20px;
    z-index: 2;
    display: block;
}

.hang-line2 {
    width: 2px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: -50px;
    left: 128px;
    z-index: 2;
    display: block;
}

.hanging-thing {
    transform: translateY(0px);
    display: block;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.hanging-thing-up {
    transform: translateY(-100px);
}